body{
    
background-color:rgb(97, 211, 240);

h1,h2,h3,h4{ 
    text-align: center;
     font-size:x-large;
     color: yellow;
     text-underline-position: below;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
}